.search-bar-wrapper {
    height: 75px;
    padding: 0 125px;
    line-height: 70px;
    border-bottom: 1px solid #3333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
}

.image-wrapper {
    height: 36px;
    width: 378px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: 0;
    padding: 3px 10px 3px 26px;
}

.camera-logo {
    height: 24px;
    width: 24px;
}

.stylized-separator {
    background-color: #262626;
    height: 28px;
    width: 0.5px;
    margin: 0 16px;
}

.logo-image {
    height: 28px;
    width: auto;
    margin-top: 5px;
}

.social-wrapper {
    display: flex;
}

.social {
    width: 50px;
}